body{
    background-color: antiquewhite;
    text-align: center;
    margin: 0;
}
a{
    margin: 20px;
    color: crimson;
}
img {
    display: block;
    margin: 40px auto;
    max-width: 100%;
    border-radius: 6px;  
}
.contact{
    color: darkcyan !important;
    margin: 0 !important;
}